.game_board {
    width: 100%;
    height: 500px;
    border-bottom: 25px solid rgb(32, 173, 55);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);

}