.pipe {
    position: absolute;
    bottom: 0;
    width: 30px;
    animation: pipe-animation 5s infinite linear;
    
    
    @keyframes pipe-animation {
        
        from {
            right: -100px;
        } 
        to {
            right: 100%;
        }
    }

    
}


